# Discord Bot Configuration
DISCORD_APPLICATION_ID=
DISCORD_PUBLIC_KEY=
DISCORD_TOKEN=
DISCORD_WEBHOOK_URL=

# Battle.net API Credentials
BATTLENET_CLIENT_ID=
BATTLENET_CLIENT_SECRET=

# Application Settings
BASE_URL=
ENV=  # Set to "dev" for development mode
